.quiz-container{
    padding: 20px;
    .title{
        margin-top: -25px;
        font-size: 30px;
        font-weight: 600;
    }

    .title2{
        font-size: 25px;
        font-weight: 600;
    }

    .add-new{
        margin-top: 20px;
    }

    legend{
        font-size: 20px;
    }
    .upload{
        background-color: aquamarine;
        border-radius: 5px;
        padding: 5px;
    }

    .img-preview{
        border: 1px dashed #ccc;
        border-radius: 5px;
        height: 150px; 
        display: flex; 
        justify-content: center;    
        align-items: center;
        color: #848484;
    }
    .img-thumbnail{
        max-width: 100%;
        max-height: 100%;
    }
}