.lidt-quiz-container{
    margin-top: 30px;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    margin-bottom: 100px;
    .card{
        height: 460px;
        border: none;
    }
    .card-img-top{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}