
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1350px){
  .container, .container-lg, .container-md, .container-sm, .conatiner-xl{
    max-width: 1310px;
  }
}


.app-container{
  .header-container{
    margin-top: 20px;
    .logo-header{
      font-weight: 600;
      font-size: 30px;
    }

    .nav-link{
      font-size: 20px;
      &:hover{
        color: black;
      }
    }
    .btn-login{
      border: none;
      background-color: rgba(0,0,0, 0) !important;
      margin-right: 15px;
      height: 40px;
      font-size: 20px;
      &:hover{
        color: rgba(134, 133, 133, 0.989);
      }
    }
    .button-29 {
      align-items: center;
      appearance: none;
      background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
      border: 0;
      border-radius: 6px;
      box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      font-family: "JetBrains Mono",monospace;
      height: 48px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 18px;
    }
    
    .button-29:focus {
      box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }
    
    .button-29:hover {
      box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    
    .button-29:active {
      box-shadow: #3c4fe0 0 3px 7px inset;
      transform: translateY(2px);
    }
    
    .navbar {
      z-index: 10;
      background-color: rgba(0,0,0, 0) !important;
      .nav-link {
        &.active{
          color: #00bfff;
        }
      }
    }
  }

  .homepage-container{
    .homepage-content{
      padding: 100px;
      position: relative;
      width: 48%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      

      .title-1{
        font-size: 50px;
        font-weight: 600;
      }

      .title-2{
        font-size: 20px;
      }

      .homepage-button{
        border-radius: 7px;
        background-color: black;
        color: white;
        margin-right: 15px;
        padding: 0 20px;
        height: 40px;
        border: none;
        &:hover{
          background-color: rgba(65, 62, 62, 0.989);
      }

    }
  }
}
}

video{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: auto;
}

/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  border-radius: 20em;
  cursor: pointer;

  &:hover{
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  }

  &:active{
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  }
}
